aiohttp==3.9.5
aiosignal==1.3.1
annotated-types==0.7.0
anyio==4.4.0
attrs==23.2.0
av==12.2.0
azure-cognitiveservices-speech==1.38.0
certifi==2024.6.2
click==8.1.7
colorama==0.4.6
coloredlogs==15.0.1
distro==1.9.0
filelock==3.15.4
flatbuffers==24.3.25
frozenlist==1.4.1
fsspec==2024.6.1
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
humanfriendly==10.0
idna==3.7
intel-openmp==2021.4.0
Jinja2==3.1.4
livekit==0.11.1
livekit-agents==0.7.2
livekit-api==0.5.1
livekit-plugins-azure==0.2.1
livekit-plugins-deepgram==0.5.0
livekit-plugins-elevenlabs==0.6.0
livekit-plugins-openai==0.6.0
livekit-plugins-silero==0.5.3
livekit-protocol==0.5.1
MarkupSafe==2.1.5
mkl==2021.4.0
mpmath==1.3.0
multidict==6.0.5
networkx==3.3
numpy==1.26.4
onnxruntime==1.18.1
openai==1.30.5
packaging==24.1
pillow==10.3.0
protobuf==5.27.2
psutil==5.9.8
pydantic==2.7.4
pydantic_core==2.18.4
PyJWT==2.8.0
pyreadline3==3.4.1
python-dotenv==1.0.1
setuptools==70.1.1
sniffio==1.3.1
sympy==1.12.1
tbb==2021.13.0
torch==2.3.1
torchaudio==2.3.1
tqdm==4.66.4
types-protobuf==4.25.0.20240417
typing_extensions==4.12.2
watchfiles==0.22.0
wheel==0.43.0
yarl==1.9.4
